@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
body {
    margin: 0;
    background-color: bisque;
    font-family: Montserrat, sans-serif;
}
main {
    width: 90%;
    margin: 40px auto;
}
#subtitle {
    color: rgb(205, 164, 140);
    opacity: 0.8;
    font-size: calc(25px + 4vw);
    margin-bottom: 0;
    margin-top: 50px;
}
#firstplace-card {
    margin-top: 20px;
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
#firstplace-image {
    width: 100%;
    border-radius: 10px;
}
#firstplace-name {
    font-size: calc(25px + 5vw);
    margin: 0;
}
#firstplace-subbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#firstplace-subbox div {
    height: fit-content;
    margin: auto 10px;
}
#firstplace-subbox div p {
    margin: 0;
}
#firstplace-score {
    font-size: calc(25px + 4vw);
    margin: 0;
    color: chocolate;
}

#general-ranking-container {
    margin-top: 40px;
}

.player-name {
    font-size: calc(25px + 2vw);
    margin: 0;
}
.player-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.player-subbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.player-score {
    color: chocolate;
}
.player-subbox div {
    height: fit-content;
    margin: auto 10px;
}
.player-subbox div p {
    margin: 0;
}
.player-score {
    font-size: calc(25px + 1vw);
    margin: 0;
}
#firsplace-sidecard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#firstplace-avatar {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    max-width: 100px;
    margin: auto 10px auto 0;
}
.player-avatar {
    border-radius: 10px;
    margin: auto 10px auto 0;
    width: 80px;
    height: 80px;
}